av
addict
einops
future
numpy
scipy
opencv-python
matplotlib
scikit-image
torch>=2.9.0
torchvision>=0.8.2
imageio-ffmpeg
pyyaml
requests
timm
yapf
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability